header{
font-size: 50px;
font-family: sans-serif;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 0px;
background-color: #0a7b00;
}

.headerA{
color: #fff;
text-decoration: none;
}

.hint{
font-family: sans-serif;
font-size: 25px;
display: inline-block;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 25px;
margin-right: 10px;
}

input[type=checkbox]{
width: 20px;
height: 20px;
}

input[type=submit]{
font-family: sans-serif;
width: 300px;
border-radius: 15px;
text-align: center;
height: 40px;
font-size: 20px;
color: #fff;
background-color: #0a7b00;
}

input[type=number]{
width: 100%;
font-size: 25px;
height: 40px;
margin-top: 25px;
margin-bottom: 25px;
font-family: sans-serif;
}



.generatedPasswords{
position: absolute;
left: auto;
top: auto;
right: auto;
display: inline-block;
margin-top: 25px;
margin-left: 25px;
font-size: 50px;
width: 500px;
font-family: sans-serif;
}


.el{
font-family: sans-serif;
display: inline-block;
margin-top: 15px;
margin-right: 15px;
font-size: 20px;
border: solid #0a7b00 1px;
border-radius: 15px;
padding: 5px;
}

body{
margin: 0px;
}

.navigationText{
font-size: 20px;
margin-left: 10px;
font-family: sans-serif;
background-color: #0a7b00;
color: #fff;
}

.aboutTheSite{
font-size: 20px;
margin-left: 10px;
color: #fff;
font-family: sans-serif;
background-color: #0a7b00;
margin-top: 10px;
}

.description{
margin-left: 10px;
font-family: sans-serif;
}

.a1{
margin-left: 10px;
text-decoration: none;
font-family: sans-serif;
}

.a2{
margin-left: 10px;
text-decoration: none;
font-family: sans-serif;
}

.a3{
margin-left: 10px;
text-decoration: none;
font-family: sans-serif;
}

.a4{
margin-left: 10px;
text-decoration: none;
font-family: sans-serif;
}

.navigation{
background: #fff;
display: inline-block;
position: absolute;
right: 0px;
margin-top: 5px;
top: auto;
width: 300px;
font-size: 20px;
}

.result{
display: inline-block;
}

.PasswordGenerator{
font-size: 50px;
font-family: sans-serif;
}

.formGeneratedPassword{
margin-top: 25px;
margin-left: 25px;
font-size: 20px;
font-family: sans-serif;
display: inline-block;
width: auto;
height: auto;
text-align: left;
}

.error{
font-size: 20px;
font-family: sans-serif;
}

@media screen and (max-width: 1000px){
.generatedPasswords{
position: absolute;
left: auto;
top: auto;
display: block;
margin-top: 25px;
margin-left: 25px;
font-size: 50px;
width: 500px;
font-family: sans-serif;
}
}

@media screen and (max-width: 1275px){
.generatedPasswords{
position: absolute;
left: auto;
top: auto;
display: block;
margin-top: 25px;
margin-left: 25px;
font-size: 50px;
width: 500px;
font-family: sans-serif;
}
}

@media screen and (max-width: 1375px){
.navigation{
background: #fff;
display: block;
position: absolute;
right: 0px;
margin-top: 5px;
top: auto;
width: 300px;
font-size: 20px;
}
}

@media screen and (max-width: 1275px){
.navigation{
background: #fff;
display: block;
position: absolute;
right: 0px;
margin-top: 5px;
top: auto;
width: 300px;
font-size: 20px;
}
}